################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

AK/RadarProcess/bin
AK/RadarProcess/obj
AK/.vs
AK/YaoCeProcess/bin
AK/YaoCeProcess/obj
AK/.cr
AK/RadarSimulator/bin
AK/RadarSimulator/obj
AK/DataSender/bin
AK/DataSender/obj
